.social-container {
	position: fixed;	
	right: 0;
	top: 70%;
	z-index: 99999;
}
@media screen and (max-width: 746px){
	.social-container{
		display: none;
	}
}
.social-icon{
	font-size: 3rem;
	padding: 0.5rem 0.2rem;
	color: white;
	cursor: pointer;
	border-bottom: 1px solid #78ec82;
	transition: all ease 0.2s;
	text-align: center;
	background-color: #3F7E44;
	display: block;
}
.linkedin{
	border: none;
}
.social-icon:hover{
	color: #0e3011; 
}